<div class="container-fluid PA">
    <div class="backgroundImage">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 align-center">
            <h1 class="title-color">Zeta Global Interview Test</h1>
          </div>
          <div class="col-xs-12 col-md-12 col-md-12 align-center">
            <p class="font-weight-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <br> Ut enim ad minim veniam.quis ostrud exercitation ullamco laboris nisi ut aliquip ex</p>
          </div>
        </div>
    </div>
</div>
